<!doctype html>
<html>
  <body>
    <img src="https://cibernarium.barcelonactiva.cat/documents/10180/693138/IT+logo.png/1c84715b-b403-4f41-9b5d-8691f99dec40?t=1520933248611">

  <style>
    .item { margin-bottom: 15px;}
  </style>
  <body>
    <h3>Modelo Predictivo Random Forest Regressor</h3>

  <div>
  <form action="/result" method="POST">
    <div class="item">
    <label for="sq_mt-built">m2_reales: </label>
    <input type="text" id="sq_mt_built" name="sq_mt_built">
  </div>
  <div class="item">
    <label for="n_bathrooms">num_bath: </label>
    <input type="text" id="n_bathrooms" name="n_bathrooms">
  </div>
  <div class="item">
    <label for="n_rooms">num_rooms: </label>
    <input type="text" id="n_rooms" name="n_rooms">
  </div>
  <div class="item">
    <label for="has_lift">con_ascensor: </label>
    <input type="text" id="has_lift" name="has_lift">
  </div>
  <div class="item">
    <label for="house_type_id">house_type_id: </label>
    <input type="text" id="house_type_id" name="house_type_id">
  </div>
  <div class="item">
    <input type="submit" value="Submit">
  </div>
  </form>
</div>
</body>
<html>